h1{
  color: purple;
  flex: auto;
  text-align: center;
}

body{
  background: #159957;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #155799, #159957);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #155799, #159957); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.title-container{
  width: auto;
  flex-shrink: auto;
  height: 100px;
  /*background-color: blue;*/
  margin: auto;
  text-align: center;
  text-shadow: 2px 2px 2px white;
  background-image: url(https://previews.123rf.com/images/hamperiumphotography/hamperiumphotography1802/hamperiumphotography180200027/95818800-ironman-triathlon-frankfurt.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.6;
  margin-bottom: auto;
}

.navigator-container{
  width: auto;
  height: auto;
  /*background-color: blue;*/
  margin: auto;
  text-align: center;
}

.container{
  background-color: darkslateblue;
}

ol > li{
  color: white;
  font-size: 20px;
}

#circle{
  color: darkred;
  font-size: 40px;
}
