h1{
  color: purple;
  flex: auto;
  text-align: center;
}

body{
   background: linear-gradient(to right, #159957, #155799);
}

.navigator-container{
  width: auto;
  height: auto;
  /*background-color: blue;*/
  margin: auto;
  text-align: center;
}

.container{
  background-color: darkslateblue;
}

#circle{
  color: darkred;
  font-size: 40px;
}
